{
  passPerPreset: true,
  presets: [
    {
      plugins: [
        ['transform-runtime', {
          regenerator: false,
        }],
      ],
    },
    {
      passPerPreset: false,
      presets: [
        ['env', {
          targets: {
            browsers: ['last 2 versions'],
          },
        }],
        'flow',
      ],
    },
  ],
  plugins: [
    'transform-object-rest-spread',
  ],
}
